/**
 * $Id$
 *
 * CSS selectors for the countdown block.
 *
 * These defaults work for the inline display style
 * but once you move the labels to below the digit
 * you will definitely want to override at least
 * these selectors and possibly others too.
 */

#block-countdown-0 div.content div.countdown,
#block-countdown-0 div.content span.countdown {
  display: inline-block;
}

#countdown-digit-days,
#countdown-digit-hrs,
#countdown-digit-mins,
#countdown-digit-secs,
#countdown-label-days,
#countdown-label-hrs,
#countdown-label-mins,
#countdown-label-secs {
  text-align: center;
}

#countdown-digit-days,
#countdown-label-days {
  color: #600;
}

#block-countdown-0 div.content div.digit {
  margin-left: 2px;
}

#block-countdown-0 div.content span.label {
  margin-left: 2px;
}

/**
 * When using inline display these are helpful. You
 * will want to override them when displaying labels
 * under the digits.
 */
#countdown-digit-hrs:before,
#countdown-digit-mins:before,
#countdown-digit-secs:before {
  content: ", ";
}
